@font-face {
    font-family: ridi-roboto;
    src: url(https://static.ridicdn.net/books/dist/fonts/ridi-roboto-regular-webfont.woff2);
}

body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid rgb(214, 222, 235);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.logo {
    fill: rgb(30, 158, 255);
    height: 18px;
    vertical-align: middle;
}

#container {
    margin: 1em auto;
    width: 100%;
    max-width: 500px;
}

.item {
    display: block;
    margin: 0.5em auto;
    color: rgb(30, 158, 255);
    font-family: ridi-roboto, Apple SD Gothic Neo, "나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue, arial, sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-bottom: 1px solid rgb(214, 222, 235);
}
